<h1>Flood Data</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Salinity</th>
    <th>Water Depth</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% @flood.each do |flood| %>
        <th><%= flood.date_of_report %></th>
        <th><%= flood.description %></th>
        <th><%= flood.address %></th>
        <th><%= flood.salinity.to_f %> <%= flood.salinity_units %> </th>
        <th><%= flood.water_depth.to_f %> <%= flood.water_depth_units %></th>
        </tr>
    <% end %>
    </tbody>
</table>