<div class="row">
  <div class="col-sm-12">
    <h1>Document a Flood</h1>

    <p><%= link_to 'Instructions', page_path('instructions') %> • <%= link_to 'Locations', page_path('locations')%></p>

    <hr />

    <%= form_for(@flood, url: floods_path, multipart: true) do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag "Name" %>

            <div class="form-inline">
              <div class="form-group">
                <%= f.text_field :first_name, class: "form-control" %>
                <span class="help-block">First name</span>
              </div>

              <div class="form-group">
                <%= f.text_field :last_name, class: "form-control" %>
                <span class="help-block">Last name</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :email, nil, style: "display: block" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label :description, "Describe Flood", style: "display: block" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :address, nil, style: "display: block" %>
            <%= f.text_field :address, class: "form-control" %>
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :date_of_report, nil, style: "display: block" %>
            <%= f.datetime_local_field :date_of_report, class: "form-control" %>
          </div>
        </div>
      </div>

      <div id="mapwrap" class="form-group">
        <div id="gmap">
          Search location to see map
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-inline">
              <div class="form-group" data-content="You can use a refractometer to measure salinity in flood waters. <a href='/pages/instructions' title='Instructions'>More info</a>" data-toggle="popover" data-placement="right" data-html="true" title="Salinity">
                <%= f.label :salinity, nil, style: "display: block" %>
                <%= f.number_field :salinity, class: "form-control" %>
                <span class="help-block">ppt (0/00) (parts per trillion)</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-inline">
              <div class="form-group" data-content="The local sea level can increase for a variety of reasons, for example, if the water is unusually warm, it increases the water depth through thermal expansion. Sea level can also rise during persistent low pressure in the atmosphere, which draws the water’s surface upward. (Source: <a href='https://weather.com/news/news/miami-beach-flooding-high-king-tide'>https://weather.com/news/news/miami-beach-flooding-high-king-tide</a>)" data-toggle="popover" data-placement="bottom" data-html="true" title="Water Depth">
                <%= f.label :water_depth, nil, style: "display: block" %>
                <%= f.number_field :water_depth, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :water_depth_units, "Units", style: "display: block" %>
                <%= f.select :water_depth_units, options_for_select(["inches", "centimeters", "1/8 inches"]), {}, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="fileFields">
          <%= f.fields_for :attachments do |af| %>
            <div class="form-group">
              <%= af.label :attachment, "Upload Images and Videos", style: "display: block" %>
              <%= af.file_field :attachment, as: :file, class: "form-control duplicateable-file-field" %>
            </div>
          <% end %>
        </div>
        
        <button type="button" id="fileAdd" class="btn btn-info">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add another Image or Video
        </button>
      </div>

      <hr />
      <%= f.submit "Submit Report", class: "btn btn-success btn-block", data: { confirm: 'Thanks for your submission!' } %>
    <% end %>
  </div>
</div>
